keystoreChange.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="KeyStoreChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="EncryptedValues">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="EncryptedValue" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="id" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="KeyStores">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="NewKeyStorePath"/>
              <xs:element type="xs:string" name="NewKeyStorePassword"/>
              <xs:element type="xs:string" name="NewKeyStoreKeyAlias"/>
              <xs:element type="xs:string" name="OldKeyStorePath"/>
              <xs:element type="xs:string" name="OldKeyStorePassword"/>
              <xs:element type="xs:string" name="OldKeyStoreKeyAlias"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>


